.study-projects-section {
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  background: #ADD8E6;
}

.study-projects-intro {
  width: 70%;
  margin: 0 auto 5%; 
  text-align: center;
}

.title-project {
  font-size: 4rem;
  color: #a17d60;
  margin-bottom: 3rem;
}

.study-projects-intro p {
  font-style: italic;
  font-size: 1.5rem;
   font-weight: bold;
  margin: 10px 0 40px 0;
  color: black;
}

.study-projects {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

.project-card img {
  width: 100%;
  height: 400px;
  object-fit: cover; 
  display: block;
}

.project-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff9c4; 
  padding: 1.2rem 1.5rem;
}

.project-info h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.github-link {
  color: #333;
  font-size: 2.2rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.github-link:hover,
.github-link:focus {
  color: #000;
}


.project-card {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  will-change: opacity, transform;
}

.project-card.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Responsive */

@media (min-width: 768px) {
  .study-projects-intro,

  .title-project {
    font-size: 3rem;
  }

  .study-projects {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  .project-card {
    width: 45%;
  }
}

/* Smartphones (≤ 767px) */
@media (max-width: 767px) {
  .study-projects-intro,
  .study-projects {
    width: 95%;
  }

  .title-project {
    font-size: 30px;
    margin-bottom: 2rem;
  }

  .study-projects-intro p {
    font-size: 1rem;
  }

  .study-projects {
    flex-direction: column;
    gap: 2rem;
  }

  .project-card {
    width: 100%;
  }

  .project-card img {
    height: 200px;
  }

  .project-info h3 {
    font-size: 1.2rem;
  }

  .github-link {
    font-size: 1.8rem;
  }

  .skills-container{
    gap: 10px;
  }
  
}