body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Arimo", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
}

::-webkit-scrollbar-track {
  background: #f0f0f0; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #a17d60; 
  border-radius: 10px;
  border: 3px solid #f0f0f0; 
}

/* Au survol du curseur */
::-webkit-scrollbar-thumb:hover {
  background-color: #7a5a40;
}
